.About__content {
    padding: 40px 0px;
}

/* Блок 1 */
.About__content.bg {
    position: relative;
}
.About__content.bg::before {
    content: '';
    width: calc(100% + 120px);
    height: 100%;
    background-image: url(./background-big.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -120px;
}
.About__wrap {
    max-width: 90%;
    margin: auto;
}

/* Блок 2 */
.About__squarecards {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Блок 3 */
.About__block-paragraph {
    position: relative;
}
.About__block-paragraph::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(./background-small.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

/* Боковые картинки */
.About__content-whyUs {
    position: relative;
}
.About__wrap::before {
    content: '';
    background-image: url(./definitions-images/headphones.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 122px;
    height: 122px;
    top: -100px;
    left: 0;
}
.About__content-whyUs::after {
    content: '';
    background-image: url(./definitions-images/switchblade.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 220px;
    height: 207px;
    top: -100px;
    right: 0;
}
.About__content-whyRent {
    position: relative;
}
.About__content-whyRent::before {
    content: '';
    background-image: url(./definitions-images/sofa.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 276px;
    height: 291px;
    top: -260px;
    left: -88px;
}
.About__content-whyRent::after {
    content: '';
    background-image: url(./definitions-images/scooter.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 255px;
    height: 299px;
    top: -300px;
    right: 0;
}
