.CardButton {
    padding: 25px 45px;

    background: var(--button-background-color);
    box-shadow: var(--button-box-shadow);
    border: none;
    border-radius: 54px;

    color: var(--secondary-text-color);
    font-weight: var(--main-font-weight);
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 0.04em;

    display: block;
    margin: auto;
    margin-bottom: 55px;
    margin-top: 40px;
}

.CardButton:hover {
    opacity: 0.9;
}
.CardButton:active {
    box-shadow: none;
}
