.CustomInput {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.CustomInput .p-inputtext {
    height: 50px;
    width: 480px;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1rem;
    padding-left: 1rem;
}
.CustomInput label {
    padding-right: 24px;
}

.ContractData__inputs .CustomInput {
    margin-bottom: 30px;
}

.PassportInput .CustomInput {
    width: 230px;
}
