.AboutBlock {
    position: relative;
}

.AboutBlock__squarecards {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 30px;
}

.AboutBlock .Title {
    text-align: center;
}
.AboutBlock .Title-first {
    margin-top: 58px;
    margin-bottom: 66px;
}
.AboutBlock .Title-second {
    margin-top: 154px;
    margin-bottom: 81px;
}
.AboutBlock .Title-third {
    margin-top: -1px;
    margin-bottom: 51px;
}

.AboutBlock .LongCard-left {
    margin-left: 0px;
}
.AboutBlock .LongCard-right {
    margin-right: 0px;
}

.AboutBlock .Background {
    position: absolute;
    left: -136px;
    width: 1413px;
}
.AboutBlock .Background-big {
    top: 88px;
}
.AboutBlock .Background-small {
    top: -115px;
}

.AboutBlock .SquareImage-sideimage {
    position: absolute;
}
.AboutBlock .SquareImage-sideimage-top.SquareImage-sideimage-left {
    top: -36px;
    left: -29px;
}
.AboutBlock .SquareImage-sideimage-top.SquareImage-sideimage-right {
    top: -47px;
    right: -54.73px;
}
.AboutBlock .SquareImage-sideimage-bottom.SquareImage-sideimage-left {
    top: -225px;
    left: -197px;
}
.AboutBlock .SquareImage-sideimage-bottom.SquareImage-sideimage-right {
    left: 997.4px;
    top: -277px;
}
