@import url('../../../settings/variables.css');

.AboutBlock {
    position: relative;
}
.AboutBlock .Title {
    text-align: center;
}
.AboutBlock .Title-first {
    margin-top: 58px;
    margin-bottom: 66px;
}
.AboutBlock .Title-second {
    margin-top: 154px;
    margin-bottom: 81px;
}
.AboutBlock .Title-third {
    margin-top: 169px;
    margin-bottom: 51px;
}
.AboutBlock-squarecards {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 30px;
}
.AboutBlock .Background {
    position: absolute;
    left: -136px;
    width: 1413px;
}
.AboutBlock .Background-big {
    top: 88px;
}
.AboutBlock .Background-small {
    top: -115px;
}
.AboutBlock .SquareImage__sideimage {
    position: absolute;
}
.AboutBlock .SquareImage__sideimage-top.SquareImage__sideimage-left {
    top: -36px;
    left: -29px;
}
.AboutBlock .SquareImage__sideimage-top.SquareImage__sideimage-right {
    top: -47px;
    left: 1023px;
}
.AboutBlock .SquareImage__sideimage-bottom.SquareImage__sideimage-left {
    bottom: -202.7px;
    left: -197px;
}
.AboutBlock .SquareImage__sideimage-bottom.SquareImage__sideimage-right {
    left: 997.4px;
    top: 643px;
}
