@import url('../../../settings/variables.css');

.AboutBlock {
    position: relative;
    margin-top: 58px;
}
.AboutBlock .Title {
    text-align: center;
    margin-bottom: 65px;
    margin-top: 169px;
}
.AboutBlock-squarecards {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 30px;
}
.AboutBlock .TypographyBigger {
}
