@import url('../../../settings/variables.css');

.TypographyBigger {
    font-size: var(--biggertext-font-size);
    font-weight: var(--biggertext-font-weight);
    text-align: center;
}
.TypographyBigger-main {
    color: var(--main-text-color);
}
.TypographyBigger-accent {
    color: var(--accent-text-color);
}
