.Modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(33, 36, 41, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}
.Modal__content {
    width: 55vw;
    height: 90vh;
    background-color: #fff;
    border-radius: 14px;
}
.Modal-active {
    opacity: 1;
    pointer-events: all;
}
