@import url('../../../settings/variables.css');

.LongCard {
    width: 830px;
    height: 93.89px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background-color);
    box-shadow: 0px 14px 40px var(--box-shadow-color);
    border-radius: 24px;
    position: relative;
}
.LongCard-left {
    transform: rotate(1deg);
}
.LongCard-right {
    transform: rotate(-1deg);
}

.LongCard-left .Typography {
    transform: rotate(-1deg);
}
.LongCard-left .TypographySmaller {
    transform: rotate(-1deg);
}
.LongCard-right .Typography {
    transform: rotate(1deg);
}

.LongCard-left .CustomTxt {
    transform: rotate(-1deg);
}
.LongCard-right .CustomTxt {
    transform: rotate(1deg);
}

.LongCard .SquareImage {
    top: 18px;
    position: absolute;
}
.LongCard .SquareImage-longcard-right {
    right: 18px;
}
.LongCard .SquareImage-longcard-left {
    left: 18px;
}

.LongCard .Typography {
    max-width: 570px;
    text-align: center;
}
