.ContractData {
    display: flex;
    margin-top: 64px;
}
.ContractData__data {
    margin-left: 40px;
}
.ContractData .DataName {
    padding-right: 50px;
}
.ContractData__radioGroup {
    display: flex;
}
.ContractData__radioGroup .CustomRadio {
    padding: 0px;
    margin: 0px;
    padding-right: 73px;
}
.ContractData__inputs {
    width: 826px;
    height: 796px;
    background: #ffffff;
    border-radius: 8px;
    margin-top: 26px;
    margin-bottom: 40px;
    padding-top: 24px;
}
.ContractData__inputs .CustomInput {
    margin-bottom: 30px;
}
.ContractData__passport {
    display: flex;
    justify-content: flex-end;
}
.ContractData__passportTitle {
    font-weight: 600;
    text-align: right;
    padding-bottom: 14px;
}
.ContractData__passportSubtitle {
    font-weight: 600;
    font-size: 14px;
    width: 230px;
    padding-left: 24px;
}
.ContractData__passportInput {
    display: flex;
}
.ContractData__passportInput .CustomInput {
    width: 230px;
}
.ContractData__passportInputTitle {
    padding-left: 25px;
    padding-bottom: 6px;
    color: #a2a3a5;
    font-weight: 400;
}
.ContractData__photo {
    width: 480px;
    height: 136px;
    border: 1px dashed #cccccc;
    border-radius: 4px;
    margin-left: 282px;
}
.ContractData__camera {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContractData__download {
    color: #3cbf32;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-left: 23px;
}
.ContractData__file {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
