.ContractData {
    display: flex;
    margin-top: 64px;
}
.ContractData__data {
    margin-left: 40px;
}
.ContractData__radioGroup {
    display: flex;
}
.ContractData__inputs {
    width: 826px;
    height: 796px;
    background: #ffffff;
    border-radius: 8px;
    margin-top: 26px;
    margin-bottom: 40px;
    padding-top: 24px;
    padding-right: 40px;
}
.ContractData__passport {
    display: flex;
    justify-content: flex-end;
}
.ContractData__description {
    font-weight: 600;
    font-size: 14px;
    width: 230px;
    padding-left: 24px;
}
