.DataInput-data {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #3cbf32;
    position: absolute;
    left: 284px;
}
.DataInput-input {
    position: absolute;
    left: 260px;
    top: 20px;
}
.PersonalData .DataInput-input {
    top: -15px;
    margin-left: -50px;
}
.PersonalData .DataInput-data {
    margin-left: -50px;
}
