.FileDownload {
    width: 480px;
    height: 136px;
    border: 1px dashed #cccccc;
    border-radius: 4px;
    margin-left: 292px;
}
.FileDownload__file {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.FileDownload__camera {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FileDownload__download {
    color: #3cbf32;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-left: 23px;
    padding-bottom: 7px;
    border-bottom: 1px dashed #3cbf32;
}
