.PriceCard {
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    border-radius: 30px;
    width: 337px;
    min-height: 400px;
    position: absolute;
    top: 63px;
    right: 0px;
    transform: matrix(1, 0.13, 0, 1, 0, 0);
}
.PriceCard__content {
    display: flex;
    flex-direction: column;
    min-height: 340px;
    transform: matrix(1, -0.13, 0, 1, 0, 0);
    margin-top: -20px;
}
