.PriceCard {
    height: 533px;
    width: 337px;
    position: absolute;
    top: 14px;
    right: -25px;
}
.PriceCard__headerimg {
    position: absolute;
    top: 0px;
    right: -16px;
    z-index: 2;
}
.PriceCard__backgroundimg {
    position: absolute;
    top: 0px;
    right: -54px;
    z-index: 1;
}
.PriceCard__salefront {
    position: absolute;
    z-index: 3;
    top: -25px;
    right: -21px;
}
.PriceCard__saleshadow {
    position: absolute;
    z-index: 1;
    top: -17px;
    right: 70px;
}
.PriceCard__price {
    position: absolute;
    z-index: 3;
    right: 115px;
    top: 32px;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}
.PriceCard__price-number {
    font-size: 50px;
    font-weight: 800;
}
.PriceCard__prevprice {
    position: absolute;
    max-width: 130px;
    z-index: 3;
    right: 28px;
    top: 89px;
    color: #212429;
    font-size: 14px;
    font-weight: 800;
}
.PriceCard__prevprice-number {
    font-size: 30px;
    font-weight: 800;
}
.PriceCard__crossline {
    position: absolute;
    right: -6px;
    top: 6px;
}
.PriceCard .PayButton {
    position: absolute;
    z-index: 3;
    bottom: 98px;
    left: 44px;
}
.PriceCard__text {
    margin-top: 148px;
}
.PriceCard .CustomTxt {
    position: relative;
    z-index: 3;
    line-height: 24px;
    padding-left: 31px;
}
.PriceCard__arrow {
    position: relative;
    display: block;
    margin: auto;
    z-index: 3;
}
.PriceCard__timeleft {
    position: absolute;
    z-index: 3;
    text-align: center;
    bottom: 105px;
    left: 50%;
}
