.AuthorHeader {
    width: 1110px;
    height: 246px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 8px 24px rgba(33, 36, 41, 0.1);
    border-radius: 14px;
    margin-bottom: 55px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
