.CardPrice {
    width: 337px;
    height: 148px;
    background-image: url('./card-header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--price-background-color);
    box-shadow: var(--price-box-shadow);*/
    border-radius: 30px;
    text-align: right;
    transform: matrix(1, -0.13, 0, 1, 0, 0);
    position: relative;
    top: -43px;
}
.CardPrice__current {
    color: var(--secondary-text-color);
    font-size: var(--bigger-font-size);
    font-weight: var(--main-font-weight);
    padding-top: 26px;
    padding-right: 100px;
}
.CardPrice__currentValue {
    font-size: var(--price-font-size);
}
.CardPrice__prev {
    color: var(--main-text-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--main-font-weight);
    padding-right: 28px;
    margin-top: -4px;
}
.CardPrice__prevValue {
    font-size: var(--title-font-size);
}
.CardPrice__cross {
    position: absolute;
    top: 90px;
    right: 17px;
}
.CardPrice__skidka {
    position: absolute;
    right: -20px;
    top: -35px;
}
.CardPrice__skidkashadow {
    position: absolute;
    right: 115px;
    top: -27px;
    z-index: -1;
}
