@import url('../../../settings/variables.css');

.SquareCard {
    display: inline-block;
    width: 350px;
    height: 350px;
    text-align: center;
    background-color: var(--card-background-color);
    box-shadow: 0px 14px 40px rgba(33, 36, 41, 0.16);
    border-radius: 24px;
}
