@import url('../../../settings/variables.css');
.SquareCard {
    position: relative;
}

.SquareCard .SquareImage {
    width: 100px;
    height: 100px;
}
.SquareCard .SquareImage-squarecard-bottom {
    width: 40px;
    height: 40px;
}
.SquareCard .SquareImage-squarecard-top {
    margin-top: 51px;
    margin-bottom: 39px;
}

.SquareCard .Typography {
    line-height: 30px;
}

.SquareCard .SquareCard__bg {
    background-color: var(--card-background-color);
    box-shadow: 0px 14px 40px var(--box-shadow-color);
    justify-content: center;
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 24px;
}
.SquareCard .SquareCard__bg::before {
    content: '';
    position: absolute;
    width: 348px;
    height: 348px;
    background-color: var(--main-background-color);
    border-radius: 348px;
    top: -204px;
    left: -118px;
    mix-blend-mode: darken;
}
.SquareCard .SquareCard__bg::after {
    content: '';
    position: absolute;
    width: 229px;
    height: 229px;
    background-color: var(--main-background-color);
    border-radius: 229px;
    left: 227px;
    top: 291px;
    mix-blend-mode: darken;
}

.SquareCard__nobg {
    background-color: transparent;
    justify-content: center;
    width: 350px;
    height: 350px;
    text-align: center;
}
.SquareCard__nobg .Typography {
    margin-top: 150px;
    margin-bottom: 20px;
}
